@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/DinoDiner-27.png" width="200" height="200"/>
<br />
<a asp-page="Privacy" > 
    Privacy Policy
   </a>
<br />
<a asp-page="About">
    About
</a>
<br />
<a asp-page="Menu">
    Menu
</a>